
/************************ Header **********************/


/******************* 1250px ******************/

@media(max-width:1250px) {

    .d_none1250 {

        display: none;

    }

    .menu_button {

        margin: 0;


    }

    .menu_box {

        background-color: rgba(239, 239, 239, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 350px;
        position: absolute;
        right: 0;
        top: 0px;
        gap: 23px;
        transition: all 125ms ease-in-out;

    }

    .menu_box_closed {

        transform: translateX(100%);

    }

    .padding_sides5vw {

        padding-left: 5vw;
        padding-right: 5vw;

    }

}


@media(min-width:1251px) {

    .d_none_over1251 {

        display: none;

    }

}


/************************* 650px with footer ********************/

@media(max-width:650px) {

    .d_none650 {

        display: none;

    }

    .header_logo_small {

        height: 63px;

    }

    .footer_logo_links_small {

        height: 65px;

    }



}


@media(min-width:651px) {

    .d_none_over651 {

        display: none;

    }

}

/***************** 370px footer ***************/

@media(max-width:370px) {

    .social_logo_width {

        width: 48px;

    }

    .gap_mobile {

        gap: 20px;

    }

    .footer_logo_links_small {

        height: 50px;

    }

    .footer_hight {

        height: 150px;

    }

    .lückenfüller_resp {

        height: calc(100vh - 300px);
    
    }

}

/******************* Hauptseite ******************/

@media(min-width:1780px) {  /****** endet bei 1400px ******/

    .d_none_over1780 {

        display: none;

    }

}

@media(max-width:1780px) {

    .margin_top_0 {

        margin-top: 0;

    }

    .height_408 {

        height: 408px;

    }

    .d_none_1780 {

        display: none;

    }

}

@media(min-width:1510px) { 

    .d_none_over_1510 {

        display: none;

    }

}


@media(max-width:1500px) {

    .d_none_1500 {

        display: none;

    }

}


@media(min-width:1501px) {

    .d_none_over_1501 {

        display: none;

    }

}



@media(max-width:1400px) {

    .flex_column {

        flex-direction: column;
        align-items: center;
        gap: 30px;
        
    }

    .margin_0 {

        margin: 0;

    }

    .align_center {

        align-items: center;

    }

    .d_none_over1780 {

        display: none;

    }

    .width_under_1400 {

        width: 500px;

    }

    .d_none_1400 {

        display: none;

    }

    

}

@media(min-width:1401px) {

    .d_none_over_1401 {

        display: none;

    }

}

@media(max-width:1185px) {

    .d_none_1185 {

        display: none;

    }

}


@media(max-width:1100px) {

    .flex_column_1100 {

        flex-direction: column;
        align-items: center;
        gap: 24px;

    }

    .lust_auf_was_neues_column_img {

        width: 500px;

    }

    .font_size_28 {

        font-size: 28px;

    }

    .d_none_1100 {

        display: none;

    }


}

@media(max-width:1000px) {

    .d_none_1000 {

        display: none;

    }

    .width_td_100 {

        width: 100%;

    }
    .width_td_resp {

        width: 300px;
        text-align: start;
        padding-left: 30px;

    }

    .text_start {

        text-align: start;
        padding-left: 30px;

    }

    .font_size_18 {

        font-size: 18px;

    }



}

@media(min-width:1001px) {

    .d_none_over_1001 {

        display: none;

    }

}

@media(min-width:920px) {

    .d_none_over_920 {

        display: none;

    }

}


@media(max-width:855px) {

    .flex_column_855 {

        flex-direction: column;
        align-items: center;

    }

    .text_center_855 {

        text-align: center;

    }

    .margin_top_left {

        margin-top: 24px;
        margin-left: 0;

    }

}


@media(min-width:675px) {

    .d_none_over_675 {

        display: none;

    }

}

@media(max-width:675px) {

    .flex_column_675 {

        flex-direction: column;
        align-items: center;

    }

    .width_205_at_675 {

        width: 205px;
        margin-top: 24px;
        margin-left: 0;
        text-align: center;

    }

}


@media(min-width:601px) {

    .d_none_over_601 {

        display: none;

    }

}

@media(max-width:600px) {

    .d_none_600 {

        display: none;

    }

}





@media(max-width:550px) {

    .lust_auf_was_neues_column_img {

        width: 300px;
        height: 300px;

    }

}



@media(min-width:420px) {

    .d_none_over_420 {

        display: none;

    }

}

@media(max-width:420px) {

    .d_none_420 {

        display: none;

    }

    .padding_sides_5 {

        padding-left: 5vw;
        padding-right: 5vw;

    }

}











