
* {
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 100;
    min-height: 100vh;
    margin: 0 auto;
    
}

h2 {

    font-weight:normal;
    margin: 0;

}

h3 {

    font-weight: normal;

}

.button {

    color: white;
    background-color: #008001;
    padding: 15px 70px;
    width: fit-content;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

}

.button:hover {

    filter: drop-shadow(0 0 4px #008001);
}

.all_content {

    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

}




